.artist-detail-page {
  display: flex;
}
.artist-detail-page .main-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.artist-detail-page .main-inner .details-page-info {
  text-align: center;
  padding: 1.5rem;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #4e4d4d 90%);
}

.artist-detail-page .main-inner .details-page-info .details-info-img img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.artist-detail-page .main-inner .details-page-content {
  text-align: left;
  padding: 1.5rem 2rem;
}
.small-textBold {
  font-size: 0.8rem;
  color: #b3b3b3;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.small-text {
  font-size: 0.8rem;
  color: #b3b3b3;
  font-weight: 300;
}
.artist-detail-page .main-inner .details-page-content h1 {
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  letter-spacing: -3px;
}
.artist-detail-page.main-inner .details-page-song {
  background-image: gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(#121212)
  );
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), #121212);
  height: 100%;
}
.artist-detail-page .main-inner .details-page-song .play-song-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #1db954;
  margin: auto;
}
