.playlist-page {
  display: flex;
  background-color: rgb(214, 214, 214);
}
.playlist-page .main-inner {
  background-image: gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    color-stop(40%, #121212)
  );
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #121212 40%);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playlist-page .main-inner .playlist-page-info {
  /* width: 300px; */
  text-align: center;
  padding: 1.5rem;
  display: flex;
}
.playlist-page .main-inner .playlist-page-info .playlist-page-image {
  width: 250px;
  height: 230px;
}
.playlist-page .main-inner .playlist-page-info .playlist-page-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.playlist-page .main-inner .playlist-page-content {
  text-align: left;
  padding: 1.5rem 2rem;
}
.small-textBold {
  font-size: 0.8rem;
  color: #b3b3b3;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.small-text {
  font-size: 0.8rem;
  color: #b3b3b3;
  font-weight: 300;
}
.playlist-page .main-inner .playlist-page-content h1 {
  font-size: 7rem;
  margin: 0;
  line-height: 1;
  word-spacing: -18px;
  letter-spacing: -3px;
}
.playlist-page .main-inner .playlist-page-song {
  background-image: gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(#121212)
  );
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), #121212);
  height: 100%;
}
.playlist-page .main-inner .playlist-page-song .play-song-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #1db954;
  margin: auto;
}
