@media (min-width: 765px) {
  .search-bar {
    display: none;
  }
  .card-wrap {
    display: block;
  }
  .card-wrap .card {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 140px;
    margin-top: 1rem;
    width: 550px;
  }
  .card-wrap .card .cardImage {
    height: 100%;
  }
  .card .cardImage {
    width: 25%;
  }
  .card .cardContent {
    width: 25%;
  }
  .card p {
    width: 50%;
  }
  .songcard {
    justify-content: space-between;
  }
  .songcard .info {
    display: none;
  }
}

