.music-card:hover {
  background-color: #7c7c7c;
}
.rhap_progress-filled {
  background-color: #1ed760;
}
.rhap_progress-indicator {
  opacity: 0;
}
.rhap_progress-bar:hover .rhap_progress-indicator {
  opacity: 1;
  transition: 0.3s ease-in;
}
